<md-dialog class="archive-dialog" aria-label="New Message">
    <form name="eventForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">{{vm.dialogTitle}}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                           translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            {{vm.message}}
        </md-dialog-content>

        <md-dialog-actions>
            <md-button md-no-ink
                       class="md-primary cancel-button"
                       aria-label="Cancel"
                       ng-click="vm.closeDialog()">
                Cancel
            </md-button>
            <md-button class="md-accent md-raised"
                       ng-disabled="vm.saving"
                       ng-click="vm.deleteCallback()">
                <span ng-show="!vm.saving">Delete</span>
                <span ng-show="vm.saving">
                    <md-progress-circular md-mode="indeterminate" md-diameter="20px"></md-progress-circular>
                    Submitting
                </span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
